
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;600;700&display=swap');
body {
  font-family: 'Oswald',  sans-serif;

}



.button-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.button-icon:hover {
  color: #ffc107;

}

.card:hover {
  cursor: pointer;
  transform: translateY(2px);
}